apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-worker
  template:
    metadata:
      labels:
        app: python-worker
    spec:
      containers:
      - name: python-worker
        image: myusername/python-worker:latest
        volumeMounts:
        - mountPath: /app
          name: app-volume
      volumes:
      - name: app-volume
        hostPath:
          path: /full/path/to/your/project
